.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.light {
    color: rgb(249, 246, 242);
}

.dark {
    color: rgb(119, 110, 101);
}

.v0 {
    background-color:rgb(204, 192, 179);
 }
 
 .v1 {
    background-color:rgb(238, 228, 218);
 }
 
 .v2 {
    background-color:rgb(237, 224, 200);
 }
 
 .v3 {
    background-color:rgb(242, 177, 121);
 }
 
 .v4 {
    background-color:rgb(245, 149, 99);
 }
 
 .v5 {
    background-color:rgb(246, 124, 95);
 }
 
 .v6 {
    background-color:rgb(246, 94, 59);
 }
 
 .v7 {
    background-color:rgb(237, 207, 114);
 }
 
 .v8 {
    background-color:rgb(237, 204, 97);
 }
 
 .v9 {
    background-color:rgb(237, 200, 80);
 }
 
 .v10 {
    background-color:rgb(237, 197, 63);
 }
 
 .v11 {
    background-color:rgb(237, 194, 46);
 }
 
 .v12 {
    background-color: rgb(0, 0, 0);
 }